//----------------------------------------------------------------------------
// Borland C++ Builder
// Copyright (c) 1996 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif

1b		BITMAP	1.bmp
2b		BITMAP	2.bmp
3b		BITMAP	3.bmp
4b		BITMAP	4.bmp
5b		BITMAP	5.bmp
6b		BITMAP	6.bmp
7b		BITMAP	7.bmp
8b		BITMAP	8.bmp
Title		BITMAP	Title.bmp